/*Estilado del main*/
.col-img {
    background-position: center;
    background-size: cover;
    background-image: url("../assets/img/wigs.jpg");
}
.alto {
    height: 70vh;
}
.columnaDer {
    height: 100%;
}
.columnaIzq {
    height: 100%;
}
.subtitulo {
    display: $contenedor-flex;
    flex-direction: column;
    align-items: center;
}
/*Estilado de productos nuevos */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  .bgBotonCafe {
    background-color: $color-botones;  
  }